PG_USER=gamerChallenge_test_db
PG_PASSWORD=gamerChallenge_test_db
PG_DATABASE=gamerchallengedb

PORT=7357
DATABASE_URL=postgresql://gamerChallenge_test_db:gamerChallenge_test_db@localhost:5123/gamerchallengedb
JWT_SECRET=mon-super-secret-jwt